
Create test for <%=@student.name%>

<%= form_for ([@student, @student_test]) do |f| %>
<%= f.label :name %>
<%= f.collection_select :test_id, Test.all, :id, :name %><br>
<%= f.hidden_field :student_id, :value => @student.id %>
<%= f.label :graded %>
<%= f.select :graded, ['pass', 'retake', 'pending']%><br>
<%= f.label :instructor_feedback %>
<%= f.text_area :instructor_feedback %><br>
<%= f.label :meeting? %>
<label>Yes</label>
<%= f.radio_button("meeting?", "yes") %>
<label>No</label>
<%= f.radio_button("meeting?", "no") %>
<%= f.submit%>
<% end %>