<h1>Log In</h1>
<%=form_tag sessions_path do %>
<label> Name: </label><br />
<%=text_field_tag :'student[name]'%><br />
<label>Password</label><br />
<%=password_field_tag :'student[password]'%><br />
<%=submit_tag "Sign In"%>
<%end%>

Don't have an account?  <%= link_to "Sign up", new_student_path%>