<h1><%= @student.name.capitalize %></h1><br>
<h2><%= @student.cohort.name.capitalize %></h2><br>
<%= form_for @student do |f|%><br>
		<%=f.collection_select :cohort_id, Cohort.all, :id, :name %>
		<%= f.submit 'change cohort', :class => "ui button" %>
	<% end %>

<% @student.student_tests.each do |t| %>
	<h2><%= t.test.name.capitalize %></h2>
	<h3>Grade: <%= t.graded %></h3>
	<h3>Feedback:  <%= t.instructor_feedback %></h3>
	<h3>Meeting Scheduled?  <br><% if t.meeting? %>
							<%= "Yes!" %>
							<% else %>
							<%= "Nope!" %>
							<%end%></h3><br>

	<% if session[:instructor_id] %>
	<%= link_to "Edit Test", edit_student_student_test_path(t) %>
	<%end%>
<% end %><br><br><br>

<%= link_to "my cohort", cohort_path(@student.cohort_id) %><br>
<% if session[:student_id] %>
<%= link_to "logout", logout_path %><br>
<% end %>

<% if session[:instructor_id] %>
<%= link_to "add test", new_student_student_test_path(@student) %>

<%end%>


